apiVersion: v1
kind: Service
metadata:
  name: locust-master
  labels:
    name: locust
    role: master
spec:
  type: LoadBalancer
  ports:
    - port: 8089
      targetPort: loc-master-web
      name: loc-master-web
    - port: 5557
      targetPort: loc-master-p1
      name: loc-master-p1
    - port: 5558
      targetPort: loc-master-p2
      name: loc-master-p2
  selector:
    name: locust
    role: master
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: locust-master
  labels:
    name: locust
    role: master
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: locust
        role: master
    spec:
      containers:
        - name: locust-master
          image: {{ .Values.image.repository }}/locust:{{ .Values.image.locustTag }}
          imagePullPolicy: {{ .Values.image.locustPullPolicy }}
          env:
            - name: LOCUST_MODE
              value: master
            - name: TARGET_HOST
              value: {{ .Values.locust.target_host | quote}}
            - name: MAX_TWITTER_USER_ID
              value: {{ .Values.locust.max_twitter_user_id | quote}}
            - name: MAX_NUM_FOLLOWS
              value: {{ .Values.locust.max_num_follows | quote}}
            - name: VISIT_RATE_TWEET
              value: {{ .Values.locust.visit_rate_tweet | quote}}
            - name: VISIT_RATE_TIMELINE
              value: {{ .Values.locust.visit_rate_timeline | quote}}
            - name: VISIT_RATE_NEWSFEED
              value: {{ .Values.locust.visit_rate_newsfeed | quote}}
            - name: VISIT_RATE_FOLLOW
              value: {{ .Values.locust.visit_rate_follow | quote}}
            - name: NEXT_REQUEST_MIN_WAIT_MS
              value: {{ .Values.locust.next_request_min_wait_ms | quote}}
            - name: NEXT_REQUEST_MAX_WAIT_MS
              value: {{ .Values.locust.next_request_max_wait_ms | quote}}
            - name: ENABLE_TIME_SLOT_PROBABILITY
              value: {{ .Values.locust.enable_time_slot_probality | quote}}
            - name: LOCUSTFILE
              value: {{ .Values.locust.locustfile }}
          ports:
            - name: loc-master-web
              containerPort: 8089
            - name: loc-master-p1
              containerPort: 5557
            - name: loc-master-p2
              containerPort: 5558
